<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azure.android.communication.chat"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- The azure-core-test module not a real android package to deploy to any device; its use is limited
        to unit-test (i.e. non-instrumentation); its marked as android-lib only to ease the reference to it
        from the unit-test of other android packages; hence the override for minSdkVersion.
    -->
  <uses-sdk tools:overrideLibrary="com.azure.core.test" />



</manifest>
