# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                                           @jsquire @ronniegeraghty

###########
# SDK
###########

# Catch all
/sdk/                                               @mayurid @jonathangiles

# Service teams

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Communication - Common
/sdk/communication/azure-communication-common/      @Azure/acs-identity-sdk @petrsvihlik @AikoBB @maximrytych-ms @ostoliarova-msft @mjafferi-msft

# PRLabel: %Azure.Core
/sdk/core/                                          @vcolin7 @anuchandy

# PRLabel: %Storage
/sdk/storage/                                       @vcolin7 @anuchandy

# PRLabel: %EngSys
/sdk/template/                                      @benbp @weshaggard

###########
# Eng Sys
###########
/eng/                                               @benbp @weshaggard

/**/ci.yml                                          @benbp
