<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.azure.management.sql"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.microsoft.azure.management.sql" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
